{% extends "userbase.html" %}
{% block body %}
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Tema</th>
      <th scope="col">Archivo</th>
      <th scope="col">Prioridad</th>
    </tr>
  </thead>
  <tbody>
    {% for dato in datos %}
    <tr>
      <th scope="row">{{dato.emailuser}}</th>
      <td>
      {% for tema in temas %}
      {% if dato.tema|string() == tema._id|string() %}
      {{tema.descripcion}}
      {% endif %}
      {% endfor %}
    </td>
        {% if dato.archivo %}
      <td><a href="file/{{dato.archivo}}">Archivos</a></td>
        {% else %}
        <td>No hay archivos</td>
        {% endif %}
      
        {% if dato.prioridad|int() == 1 %}
      <td class="btn btn-warning"><strong>Alta</strong></td>
        {% endif %}
        {% if dato.prioridad|int() == 2 %}
      <td class="btn btn-primary"><strong>Media</strong></td>
        {% endif %}
           {% if dato.prioridad|int() == 3 %}
      <td class="btn btn-secondary"><strong>baja</strong></td>
        {% endif %}
    
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
