{% extends "adminbase.html" %}
{% block body %}
<div class="m-portlet m-portlet--head-sm" m-portlet="true" id="m_portlet_tools_5">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                          <i class="flaticon-user-add"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                          Agregar Usuario
                        </h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                          <a href="#" m-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-power-off"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href=""  m-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-circle"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href="#"  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-expand"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href=""  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-angle-down"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--begin::Form-->
                  <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                      <div class="form-group m-form__group m--margin-top-10">
                        <div class="alert m-alert m-alert--default" role="alert">
                          Formulario donde se registraran a los usuarios del Sistema
                          y se le indicara el rol que estos tendran.
                        </div>
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Email address
                        </label>
                        <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <span class="m-form__help">
                          El email sera una forma de encontrar al usuario
                        </span>
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleInputFirstName1">
                          FirstName
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputFirstName1" placeholder="FirstName">
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleInputLastName1">
                          LastName
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputLastName1" placeholder="LastName">
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleInputadminName1">
                          Admin Name
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputadminName1" placeholder="Admin Name">
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleInputPassword1">
                          Gender
                        </label>
                        <select class="form-control m-input m-input--solid" id="exampleSelect1">
                        <option value="H">
                          Hombre
                        </option>
                        <option value="M">
                          Mujer
                        </option>
                        <option value="O">
                          Otro
                        </option>
                      </select>
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleTextarea">
                          Elige los Roles:
                        </label>
                         <label for="exampleFormControlSelect2"></label>
                        <select multiple class="form-control" id="listroles" name="listroles">
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                          <option value="D">D</option>
                          <option value="E">E</option>
                        </select>
                        <input type="text" id="tbroles" name="tbroles" value="">
                      </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                      <div class="m-form__actions">
                        <button type="reset" class="btn btn-primary">
                          Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                  <!--end::Form-->
                  <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                  <thead>
                    <tr>
                      <th>
                        EmailAdmin
                      </th>
                      <th>
                        FirstName
                      </th>
                      <th>
                        LastName
                      </th>
                      <th>
                        AdminName
                      </th>
                      <th>
                        Gender
                      </th>
                      <th>
                        Roles
                      </th>
                      <th>
                        Register Date
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        Type
                      </th>
                      <th>
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                      <td>
                        {{ usuario.emailadmin }}
                      </td>
                      <td>
                        {{ usuario.firstname }}
                      </td>
                      <td>
                        {{ usuario.lastname }}
                      </td>
                      <td>
                        {{ usuario.adminname }}
                      </td>
                      <td>
                        {{ usuario.gender }}
                      </td>
                      <td>
                        {% for rol in usuario.roles %}
                        {{ rol }}
                        {% endfor %}
                      </td>
                      <td>
                        2/12/2018
                      </td>
                      <td>
                        2/12/2018
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td nowrap></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                </div>

                <!-- AQUI TERMINA EL PORTLE DEL USUARIO -->
                <div class="m-portlet m-portlet--head-sm" m-portlet="true" id="m_portlet_tools_5">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                          <i class="flaticon-list-3"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                          Agregar Roles
                        </h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                          <a href="#" m-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-power-off"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href=""  m-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-circle"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href="#"  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-expand"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href=""  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-angle-down"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--begin::Form-->
                  <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                      <div class="form-group m-form__group m--margin-top-10">
                        <div class="alert m-alert m-alert--default" role="alert">
                          En este formulario se especifican los roles.
                        </div>
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Nombre del Rol:
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" name="namerol" placeholder="NameRol">
                        <span class="m-form__help">
                          El nombre del rol es el que aparecera en las listas de registro.
                        </span>
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleTextarea">
                          Elige los Temas del rol:
                        </label>
                         <label for="exampleFormControlSelect2"></label>
                        <select multiple class="form-control" id="listtema" name="listtema">
                          <option value="TemaA">TemaA</option>
                          <option value="TemaB">TemaB</option>
                          <option value="TemaC">TemaC</option>
                          <option value="TemaD">TemaD</option>
                          <option value="TemaE">TemaE</option>
                        </select>
                        <input type="text" id="tbtemas" name="tbtemas" value="">
                      </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                      <div class="m-form__actions">
                        <button type="reset" class="btn btn-primary">
                          Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                  <!--end::Form-->
                </div>
                  <!--aqui termina el portle de los roles-->

                  <!--AQUI TERMINA EL PORTLE DE LOS TEMAS-->
                  <div class="m-portlet m-portlet--head-sm" m-portlet="true" id="m_portlet_tools_5">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                          <i class="flaticon-list-2"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                          Agregar Temas
                        </h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                          <a href="#" m-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-power-off"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href=""  m-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-circle"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href="#"  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-expand"></i>
                          </a>
                        </li>
                        <li class="m-portlet__nav-item">
                          <a href=""  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="la la-angle-down"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--begin::Form-->
                  <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                      <div class="form-group m-form__group m--margin-top-10">
                        <div class="alert m-alert m-alert--default" role="alert">
                          En este formulario se especifican los temas.
                        </div>
                      </div>
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Nombre del Tema:
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" name="nametema" placeholder="Topic Name">
                        <span class="m-form__help">
                          El nombre del Tema es el que aparecera en las listas de registro.
                        </span>
                      </div>0                  
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                      <div class="m-form__actions">
                        <button type="reset" class="btn btn-primary">
                          Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                  <!--end::Form-->
                </div>
                <!--AQUI TERMINA EL PORTLE DE TEMAS-->
<script type="text/javascript">
var temas=[];

$('#listtema').on('change',function() {
  
  var tema=$(this).val();
  alert(tema);
  var inputtema = document.getElementById("tbtemas");
  inputtema.value += tema+",";
});    

$('#listroles').on('change',function() {
  
  var rol=$(this).val();
  alert(rol);
  var inputrol = document.getElementById("tbroles");
  inputrol.value += rol+",";
});    



function muestra_oculta(id){
if (document.getElementById){ //se obtiene el id
var el = document.getElementById(id); //se define la variable "el" igual a nuestro div
el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div
}
}
window.onload = function(){/*hace que se cargue la función lo que predetermina que div estará oculto hasta llamar a la función nuevamente*/
muestra_oculta('contenido');/* "contenido_a_mostrar" es el nombre que le dimos al DIV */
}
</script>
{% endblock %}